{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

            <header>
                <div class="header_inner">
                    <form action="/search" method="POST">
                    {% csrf_token %}
                    <div class="left-side">
                        <div id="logo" class=" uk-hidden@s">
                            <a href="home.html">
                                <b><h1 style="text-transform: uppercase;">Social Book</h1></b>
                            </a>
                        </div>
                            <input type="text" name="username" placeholder="Search for username..">&nbsp; &nbsp;
                            <button type="submit"><i class="fa fa-search fa-1x"></i></button>

                    </div>
                    </form>
                    <div class="right-side lg:pr-4">
                        <a href="/" title="Home" style="display: inline-block; margin-left: 20px; color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="black" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                            </svg>
                        </a>

                       <a href="#">
                            <img src="{{ user_profile.profileimg.url }}" class="header-avatar" alt="">
                       </a>
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="/settings"> Account setting </a> </li>
                                <li><a href="/profile/{{ user.username }}"> Profile </a> </li>
                                <li><a href="logout"> Log Out</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </header>


    <div class="main_content">
        <div id="chat-container" class="p-4" style="height: 600px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
            </div>
        <div class="chat-input-area p-4 border-t">
            <input type="text" id="chat-message-input" class="uk-input" placeholder="Type a message...">
            <button id="chat-message-submit" class="uk-button uk-button-primary mt-2">Send</button>
        </div>
    </div>

<script>
        const roomName = '{{ room_name }}';
        const wsUrl = `ws://127.0.0.1:8001/ws/message/${roomName}/`;
        const chatSocket = new WebSocket(wsUrl);

        const chatLog = document.getElementById('chat-container');
        const chatInput = document.getElementById('chat-message-input');
        const chatSubmit = document.getElementById('chat-message-submit');

        chatSocket.onopen = function(e) {
            console.log("WebSocket connection established!");
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            chatLog.innerHTML += data.html;
            chatLog.scrollTop = chatLog.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.log("WebSocket connection closed unexpectedly!");
        };

        chatSocket.onerror = function(e) {
            console.error("WebSocket error observed:", e);
        };

        chatSubmit.onclick = function(e) {
            const message = chatInput.value;
            if (message) {
                chatSocket.send(JSON.stringify({ 'message': message }));
                chatInput.value = '';
            }
        };

        chatInput.onkeyup = function(e) {
            if (e.key === 'Enter') {
                chatSubmit.click();
            }
        };
    </script>


 <!-- Scripts -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>