{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet" />


</head>

<body>


       

          

            <div class="container m-auto"> 

                <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"><a href="/">Home</a> / Account Setting for <b>{{user.username}}</b> </h1>
                <br>
                <hr>
                <div class="grid lg:grid-cols-3 mt-12 gap-8">
                    <div>
                        <h3 class="text-xl mb-2"> General</h3>
                        <p></p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                        
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                           
                           
                            <div class="col-span-2">
                                <label > Profile Image</label>
                                <img width="100" height="100" src="{{user_profile.profileimg.url}}" />
                                <input type="file" name="image" value="" class="shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label > Background Image</label>
                                <img width="100" height="100" src="{{user_profile.profilebackground.url}}" />
                                <input type="file" name="back_image" value="" class="shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label for="about">Bio</label>  
                                <textarea id="about" name="bio" rows="3"  class="shadow-none bg-gray-100">{{user_profile.bio}}</textarea>
                            </div> 
                           <div class="col-span-2">
                                <label for="location">موقعیت</label>
                                <input value="{{user_profile.location}}" list="cityList" name="location" id="location" class="shadow-none bg-gray-100">
                                <datalist id="cityList">
                                <option value="New York">
                                <option value="London">
                                <option value="Paris">
                                <option value="Tokyo">
                                <option value="Tehran">
                                <option value="Tabriz">
                                <option value="Shiraz">
                                <option value="Isfahan">
                                <option value="Mashhad">
                                <option value="Karaj">
                                </datalist>
                            </div>

                       </div> 
    
                       <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                           <button class="p-2 px-4 rounded bg-gray-50 text-red-500"> <a href="/">Cancel</a> </button>
                           <button type="submit" class="button bg-blue-700"> Save </button>
                       </div>
                    </form>
    
                    </div>

                 <div>
                        <h3 class="text-xl mb-2"> Privacy and Security</h3>
                        <p> </p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-lg shadow lg:p-6 p-4 col-span-2">
                        <div>
                            <div>
                                {% if user_profile.email_confirmed  %}
                                <a> Confirmed Email </a>
                                {% else %}
                                <a href="/confirm-email"> Confirm Email </a>
                                {% endif %}
                            </div>
                            <div>
                                {% if user_profile.phone_confirmed  %}
                                <a> Confirmed Phone Number </a>
                                {% else %}
                                <a href="/verify-phone"> Confirm Phone Number </a>
                                {% endif %}
                            </div>
                            <div>
                            <a href="/change-password"> Change Password </a>
                            </div>

                        </div>

                        <div>
                           <table class="table-sessions">
                                <thead>
                                <tr>
                                    <th>سیستم عامل</th>
                                    <th>مرورگر</th>
                                    <th>دستگاه</th>
                                    <th>تاریخ انقضا</th>
                                    <th>اقدام</th>
                                </tr>
                            </thead>
                        <tbody>
                        {% for session in sessions %}
                        <tr>
                            <td>{{ session.ua_info.os_family }}</td>
                            <td>{{ session.ua_info.browser_family }}</td>
                            <td>{{ session.ua_info.device_type }}</td>
                            <td>{{ session.expire_date }}</td>
                            <td>
                            <form action="{% url 'end_session' session.session_key %}" method="post">
                                {% csrf_token %}
                                <button type="submit">خروج</button>
                            </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                           </table>
                        </div>
                    </div>
                    <br>

                </div>

            </div>
            
        </div>

    </div>


    

 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>

</body>

</html>